html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
  color: #1b1b1b;
}
body {
  background-color: #eeeeee;
  font-family: 'Mukta', serif;
}
a {
  text-decoration: none;
}
.menu {
  margin: 10vh auto 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  height: 10vh;
  width: 90vw;
  padding: 3vh 3vw;
  box-shadow: -7px -7px 12px 0 #ffffff, 7px 7px 12px 0 rgba(0, 0, 0, 0.08);
}
.menu .menu-bar {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
.menu .menu-bar .menu-item {
  border-radius: 1rem;
  padding: 1vh 2vw;
  box-shadow: -3px -3px 12px 0 #ffffff, 3px 3px 12px 0 rgba(0, 0, 0, 0.15);
}
main {
  display: flex;
  justify-content: space-around;
}
main div {
  width: 20vw;
  height: 20vh;
  text-align: center;
  font-size: 3rem;
  color: white;
  box-shadow: -8px -8px 12px 0 #ffffff, 12px 12px 12px 0 rgba(0, 0, 0, 0.06);
}
section {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
  background-color: #A8201A;
  padding: 10vh 15vw;
}
section div {
  height: 30vh;
  width: 30vh;
  text-align: center;
  padding: auto;
  font-size: 1.5rem;
  color: white;
  border-radius: 50%;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.13), 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
}
.buttons {
  display: flex;
  justify-content: space-around;
  background-color: #1b1b1b;
  padding: 10vw;
  color: #eee;
  margin-top: 0;
}
.buttons .btn1 {
  width: 20vw;
  height: 10vh;
  border-radius: 5%;
  background-color: #1b1b1b;
  border: none;
  box-shadow: -4px -4px 12px 0 rgba(255, 255, 255, 0.1), 4px 4px 12px 0 #000000;
}
.buttons .btn2 {
  width: 15vw;
  height: 15vw;
  border-radius: 5%;
  background-color: #1b1b1b;
  border: none;
  box-shadow: -4px -4px 12px 0 rgba(255, 255, 255, 0.1), 4px 4px 12px 0 #000000;
}
.buttons .btn3 {
  width: 5vw;
  height: 15vh;
  border-radius: 5%;
  background-color: #1b1b1b;
  border: none;
  box-shadow: -4px -4px 12px 0 rgba(255, 255, 255, 0.1), 4px 4px 12px 0 #000000;
}
